.buscador{
    background: whitesmoke;
    border-radius: 20px;
}

.titulo-buscador{
    margin-bottom: 0.2em;
    font-size: 25px;
    font-weight: bold;
    color: #1b330c;
    background: rgb(169, 169, 169,0.4);
    width: 15%;
    text-align-last: center;
}

.titulo-listado{
    margin-bottom: 0.2em;
    font-size: 25px;
    font-weight: bold;
    color: #1b330c;
    background: rgb(169, 169, 169,0.4);
    width: 25%;
    text-align-last: center;
}

.cnt-buscador{
    background-color:whitesmoke;
    width:100%;
    display:inline-block;
    float:left;
    padding:0.5rem 0 1rem;
    margin-bottom:1rem;
    position:relative;
}

.cnt-buscador .btn-search{
    background-color: #1b330c;
    color:white;
    position:absolute;
    right:1rem;
    bottom:0;
    margin-right:0;
    margin-bottom:-19px;
    font-size:15px;
    background-image:url("../img/search.png");
    background-repeat:no-repeat;
    background-position:left center;
    padding:0.6rem 1rem 0.5rem 3rem;
    border:0;
}

.cnt-table1
{
  background-color: whitesmoke;
  padding: 8px 12px;
  label
  {
    margin: 0;
  }
  #tabla_info
  {
    //font-size: 14px;
    //padding-top:25px;
  }

  .tabla_footer {
    //text-transform: uppercase;
    color: #555;
    font-size: 17px;
    font-weight: 300;
    margin-top: 15px;
    float: left;
  }

  .cnt-pagination
  {
    text-align: center;
    ul
    {
      margin: 8px 0 0 0;
      a
      {
        color: black;
      }
    }
  }
  ul.pagination
  {
    margin-left: 1em;
    float: right;
    a
    {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    li.current {
      background-color: #1b330c;
      a{
        color: white;
      }
    }
    li.previous {
      background-color: #1b330c;
      margin-right:1em ;
      a{
        color: white;
      }
    }
    li.next {
      background-color: #1b330c;
      margin-left:1em ;
      a{
        color: white;
      }
    }
  }
}

table.tabla1
{
  border: none !important;
  *
  {
    border: none !important;
  }
  input[type="text"], select
  {
    margin-bottom: 0;
  }
  button.button
  {
    font-size: 14px;
  }
  thead tr
  {
    background-color: #fff;
    th
    {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  tbody tr
  {
    td
    {
      background-color: #ededed;
      font-size: 13px;
      color: #3e3e3e;
    }
    &:nth-child(2n) td
    {
      background-color: #fff;
    }
  }
}

.columns:has(.dataTables_info){
    width: 40%;
    margin-left: 1rem;
}

.columns:has(.dataTables_paginate){
    width: 55%;
    margin-right: 1rem;
    float: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{
    display: none;
}

#tabla_ellipsis{
   display: block !important;
}

.info-noticia{
    background-color: whitesmoke;
    width: 100%;
    height: 19em;
    padding: 1rem 0 1rem;
    font-size: 16px;
}

.contenido-noticia{
  background-color: whitesmoke;
  margin-top: 3em;
  width: 100%;
  height: auto;
  padding: 1em 1em 2em 1em;
  font-size: 15px;
  text-align: justify;
}

.linea-noticia{
  font-family: "Times New Roman", Times, serif;
  margin-top:1em;
  font-size:1.1em;
  border-left: solid;
}

.btn-save{
  float: right;
  padding: 1em 3em 1em 3em !important;
}

.btn-back{
  float: left;
  padding: 1em 3em 1em 3em !important;
}

.btn-editar-noticia{
  position: absolute;
  right: 2rem;
  margin-top: 1.5rem;
  font-size: 16px;
  padding: 0.6rem 1rem 0.5rem 1rem;
}

.titulo-edicion{
  margin-bottom: 0.2em;
  font-size: 25px;
  font-weight: bold;
  color: #1b330c;
}

.edicion-noticia{
  margin-top: 1em;
  font-size: 25px;
  font-weight: bold;
  color: #1b330c;
}

.fondo-titulo-noticia{
  background: rgb(169, 169, 169,0.4);
  width: 22%;
  text-align-last: center;
}

.titulo-noticia{
  margin-bottom: 0.2em;
  font-size: 25px;
  font-weight: bold;
  color: #1b330c;
  background: rgb(169, 169, 169,0.4);
  width: 25%;
  text-align-last: center;
}

.form-background{
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  padding: 1rem 0 1rem;
  font-size: 16px;
}

.titulo-edicion{
  margin-bottom: 0.2em;
  font-size: 25px;
  font-weight: bold;
  color: #1b330c;
  background: rgb(169, 169, 169,0.4);
  width: 20%;
  text-align-last: center;
}

.btn-crear{
  position: absolute;
  right: 1.9rem;
  margin-top: 0.4em;
  font-size: 16px;
  padding: 0.6rem 1rem 0.5rem 1rem;
  z-index: 1;
}

.swal-footer{
  text-align-last: center;
}

.col-end{
  max-width: 22% !important;
}

.menu-right{
  margin-right: 2%;
}

.edit-noticia{
  height: 21em !important;
}